.biasa{
    background-color: tomato;
    width: 400px;
    height: 200px;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    border: none;
}
.pemisah2{
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pemisah1{
    background-color: black;
    text-align: center;
    color: white;
    height:60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pemisah3{
    background-color:black;
    color: white;
    height: 80px;
    text-align: center
    
}